body{
    background-color: black;
    color: white;
}


.container {

    >.col-6,
    .col-md-4,
    .col-xl-3,
    .col-lg-4,
    .col-md-6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        margin: 30px 0px;

        >.card {
            width: 13rem;
            height: 17rem;
            position: relative;
            overflow: hidden;
            border: none;
            border-radius: 10px;

            >img {
                height: 80%;
                width: 100%;
                object-fit: cover;
            }

            >.card-body {
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                position: absolute;
                color: black;
                bottom: 0px;
                transition: all 0.6s ease-in-out;

                >.titleofmovie,
                .titleofmovie-upcoming {
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    word-spacing: 10px;
                    font-weight: bolder;
                    font-size: 12px;
                    text-align: center;
                    font-family: myfont3;
                    transition: all 0.6s ease-in-out;
                }

                >ul {
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 10px;
                    margin: 30px 0px;
                    font-family: myfont1;
                    text-align: left;

                    >li {
                        padding: 5px 0px;
                        list-style: disc;
                    }
                }

                >.card-body-book {
                    display: flex;
                    justify-content: space-between;

                    >a {
                        cursor: pointer;
                        margin-top: 5px;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-family: myfont3;
                        color: white;
                        letter-spacing: 2px;
                        transition: 0.6s ease;
                        font-size: 9px;
                    }

                    >a:hover {
                        color: red;
                    }
                }
            }
        }
    }
}